*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: aqua;
}
.marks{
 text-align: center;
}
.marks2{
    text-align: center;
    font-size: xx-large;
}
.marks3{
    
    display: flex;
    justify-content: center;
    justify-content: space-between;
    margin-top: 10px;
    
}
.f1{
    margin-top: 20px;
    margin-left: 35%;
}
.two{
    margin-top: 20px;
    margin-right:43%;
}
.marks4{
    margin-left: 52.5%;
}
.f3{
    margin-top: 5%;
    margin-right: 20%;
    font-size: larger;
}
.f4{
    margin-bottom: 15%;
    margin-left: 5%;
    font-size: larger;
}